header {
    overflow: hidden;
    background-color: #ddd;
    padding: 20px 10px;
  }
  
  /* Style the header links */
  .header a {
    float: left;
    color: #46b8da;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
      margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
    border: #46b8da;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: #46b8da;
    color: white;
    text-decoration: none;
  }
  
  /* Style the active/current link*/
  .header a.active {
    background-color: #46b8da;
    color: white;
  }
  
  /* Float the link section to the right */
  .header-right {
    float: right;
    display: inline-block;
    margin: 15px;
    color: white;

  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .header a.logo {
      float: left;
      text-align: left;
      font-size: 23px;
    }
    .header-right {
      display: inline-block;
      float: right;
    }
  }
  * {box-sizing: border-box;}
  body {font-family: Verdana, sans-serif;}
  .mySlides {display: none;width: 100%;}
  img {vertical-align: middle;}

  .btn{
      width: 100px;
      height: 50px;
  }


 

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
text-align: center;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#foot{
  background-color: #46b8da;
  color: white;
}
#foot a{
  color: white;
}

ul > li{
  text-decoration: underline;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .columnImg {
    flex: 50%;
    max-width: 50%;
  }
  .columnImg img {
      height: 200px;
    }
    
    
}
.container{
  width:90% !important;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
      
  .text {font-size: 11px}
  #ourprod{font-size: 11px}
  #Gallery{font-size: 11px}
  .columnImg {
    flex: 33%;
    max-width: 33%;
  }
  .columnImg img {
      height: 100px;
    }
}

.tbl{
  width : 100% !important;
  table-layout: fixed;
}

html, body{
  height:100%;
  width:100%;
  padding:0;
  margin:0;
}


.columnButton {
  float: left;
  width :13%;
  margin : 5px;
}

/* Clear floats after the columns */
.rowButton:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .columnButton {
    width: 20%;
    margin : 5px;
  }
  .btn{
    width: 100%;;
  }
  
  .rowButton:after {
      margin: 10px 10px 0px 10px;
  }
}

.footer{
  margin-top: 20px;
  padding: 15px;
  width:100%;
  position:absolute;  
  left:0;
}